.p-guide{
    width: 90%;
    margin: 0 auto;
    // max-width: $contentMaxWidth;
}
.p-guide__header{
    width: 55%;
    margin: 0 auto;
    text-align: center;
}
.p-guide__inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.p-guide__dl{
    // background: rgba(240,242,242,0.6);
    // background: #F0F2F2;
    background: rgba(197,200,217,0.3);
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.p-guide__dt{
    margin-bottom: 16px;
    border-bottom: 1px solid $Black;
}
.p-guide__dd{
    line-height: 0.7em;
    font-size: $font-size_14;
}
.p-guide__text{
    font-size: $font-size_14;
    text-align: center;
}
.p-guide__comment{
    text-align: left;
}